:root {
    --Orange: hsl(25, 97%, 53%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --MediumBlue: #293851;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--VeryDarkBlue);
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.card {
    width: 35%;
    height: 400px;
    background-color: var(--DarkBlue);
    border-radius: 5%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-top: 7%;
    width: 40px;
    height: 40px;
    background-color: var(--MediumBlue);
    border-radius: 50%;
}

.headline {
    font-weight: 700;
    font-size: 25px;
}

.paragraph {
    font-size: 15px;
}

.texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    padding-left: 7%;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    margin: 3%;
}

.button:hover {
    background-color: var(--Orange) !important;
    color: white !important;
}

.button:active {
    background-color: var(--Orange) !important;
    color: white;
    transform: scale(0.88);
}

.submit {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.submit button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 24px;
    font-weight: bolder;
    background-color: var(--Orange);
    color: white;
}

.submit button:hover {
    background-color: hsl(25, 97%, 40%);
}

.submit button:active {
    background-color: white;
    color: var(--Orange);
    transform: scale(0.98);
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    display: none;
}

.card2 {
    width: 30%;
    height: 420px;
    background-color: var(--DarkBlue);
    border-radius: 5%;
}

.icon2 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.selection {
    width: 50%;
    background-color: var(--MediumBlue);
    border-radius: 24px;
    color: var(--Orange);
    text-align: center;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.selection p {
    font-weight: 700;
    line-height: 40px;
}

.thankYou {
    text-align: center;
    margin-top: 7%;
    font-size: 30px;
    font-weight: 700;
}

.paragraph2 {
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width:1020px) and (min-width:500px) {
    .container {
        margin-top: 30%;
    }
    .card {
        width: 100%;
        height: 660px;
    }
    .icon {
        width: 60px;
        height: 60px;
    }
    .headline {
        margin-top: 3%;
        font-size: 40px;
    }
    .paragraph {
        font-size: 28px;
    }
    .button {
        width: 80px;
        height: 80px;
        font-size: 28px;
    }
    .submit button {
        height: 80px;
        border-radius: 36px;
        font-size: 25px;
    }
    .container2 {
        margin-top: 30%;
    }
    .card2 {
        width: 77%;
        height: 620px;
        border-radius: 8%;
    }
    .selection {
        width: 55%;
        height: 50px;
    }
    .selection p {
        font-size: 25px;
        line-height: 50px;
    }
    .thankYou {
        font-size: 45px;
    }
    .paragraph2 {
        font-size: 26px;
    }
}

@media screen and (max-width:580px) {
    .container {
        margin-top: 30%;
    }
    .card {
        width: 95%;
        height: 390px;
    }
    .paragraph {
        font-size: 14px;
    }
    .container2 {
        margin-top: 30%;
    }
    .card2 {
        width: 95%;
        height: 410px;
    }
    .selection {
        height: 35px;
    }
    .selection p {
        line-height: 35px;
        font-size: 14px;
        font-weight: 700;
    }
    .paragraph2 {
        font-size: 14px;
    }
}